{% extends 'blog/leftpanel.html' %}

{%block title%}Exam Details {%endblock%}
{%block body%}  <div id="page-wrapper">
        <div class="container">
  <h2 class="text-center" style="text-decoration: underline;">Change Password</h2>
  <div class="card">
    <div class="form-group">
        <form method="POST"  enctype="multipart/form-data">
            <div class="col-md-12" style="margin-top: 2%;">
                <label>Enter New Password</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-12" style="margin-top: 2%;">
                <label>Enter Confirm New Password</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-12" style="margin-top: 2%;">
            <center><button class="btn btn-info" type="submit">Update</button></center>
        </div>
    </form>
    </div>
  
    </div>
  </div>
</div>

        <!-- /.container-fluid -->
    </div> {%endblock%}