{% extends 'blog/leftpanel.html' %}

{%block title%}Exam Details {%endblock%}
{%block body%}  <div id="page-wrapper">
        <div class="container">
  <h2 class="text-center" style="text-decoration: underline;">Exam Details</h2>
  <div class="card">
    	<table class="table">
    <thead>
      <tr>
        <th>Quiz Name</th>
        <th>Attempted Date</th>
        <th>obtained Score</th>
        <th>Total Score</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>TOC</td>
        <td>5/11/19</td>
        <td>20</td>
        <td>20</td>
        <td>Pass</td>
      </tr>
      <tr>
         <td>NLP</td>
        <td>5/11/19</td>
        <td>20</td>
        <td>20</td>
        <td>Pass</td>
      </tr>
      <tr>
         <td>Machine learning</td>
        <td>5/11/19</td>
        <td>20</td>
        <td>20</td>
        <td>Pass</td>

      </tr>
      <tr> <td>DBMS</td>
        <td>5/11/19</td>
        <td>20</td>
        <td>20</td>
        <td>Pass</td>
    </tr>
    </tbody>
  </table>
  <h2 class="text-center" style="text-decoration: underline;">Upcoming Exam Details</h2>
  <table class="col-md-12">
    <thead>
      <tr>
        <th class="col-md-3">Exam Name</th>
        <th class="col-md-3">End Date</th>
        <th class="col-md-3">Total Marks</th>
        <th class="col-md-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-md-3">Midsem 1</td>
        <td class="col-md-3">5/09/19</td>
        <td class="col-md-3">100</td>
        <td class="col-md-3"><button type="button" class="btn btn-primary">Start</button></td>
      </tr>
    </tbody>
    </div>
  </div>
</div>

        <!-- /.container-fluid -->
    </div> {%endblock%}