{% extends 'blog/leftpanel.html' %}

{%block title%} Home {%endblock%}
{%block body%}  <div id="page-wrapper">
        <div class="container">
  <h2>Home</h2>
  <div class="card">
    <div class="card-body col-md-12 ">
      <div class="col-md-4"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMX3VkmSQVZ-yDEKHfNNNEeQn02fL6tM2tfhIx0VdPn9aM6a2NJw&s" class="rounded-circle" alt="User Image" ><br><strong style="
    margin-left: 13%;font-weight: 900;">No of Test given:10</strong></div>
      <div class="col-md-4"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2hc86k4F6dR341nt8fcbyU6WVDMMrQ9cZ25EJOTTXMgOyOoWo&s" class="rounded-circle" alt="User Image" ><br><strong style="font-weight: 900;">
      No of Assigment Submitted:10</strong></div>
      <div class="col-md-4"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvDiiGKEfxdzYH9PKURYHo-PzsAlIuPDYnlGf72sJnDXWpRj2NJA&s" class="rounded-circle" alt="User Image" ><br><strong style="margin-left: 9%;font-weight: 900;">
      Attendance status:100%</strong></div>
      <h2 style="margin-top: 30%;">Exam details</h2><br>
      <table class="table">
    <thead>
      <tr>
        <th>Quiz Name</th>
        <th>Attempted Date</th>
        <th>obtained Score</th>
        <th>Total Score</th>
        <th>Status</th>
        <th>Faculty</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <td>{{ post.quiz_name}}</td>
        <td>{{ post.date_posted|date:"F d,Y"}}</td>
        <td>{{ post.obtain_score}}</td>
        <td>{{ post.total_score}}</td>
        <td>{{ post.status}}</td>
        <td>{{ post.author}}</td>
        <td><a href ="{% url  'post-detail' post.id %}">Details</a></button></td>
      </tr>
      {% endfor %}
  
    </tbody></table>
    </div>
  </div>
</div>

        <!-- /.container-fluid -->
    </div> {%endblock%}