<style type="text/css">
    body {
    margin:0;
    color:#edf3ff;
    background:#c8c8c8;
    background:url(https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg) fixed;
    background-size: cover;
    font:400 16px/18px 'Open Sans',sans-serif;
    }
</style>
{% block content %}
    <h2>You have successfully logged-out!!</h2>
    <div class="botder-top pt-3">
        <small class="text-muted">
            <a class="ml-2" href="http://localhost:8000/flogin">Log In Again.</a>
        </small>
    </div>
{% endblock content %}